version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: sisima_postgre
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:7
    container_name: sisima_redis
    ports:
      - "6379:6379"
    networks:
      - backend

networks:
  backend:

volumes:
  pgdata:
